<div class="page-header" style="text-align: center;padding-top: 1em;">

  <h2>{{singleStudentHeaderTxt}}</h2>
</div>

<div class="container">
  <div class="row m-top">
      <div class="col-xs-12 end-xs">
          <a routerLink="/students" color="warn" mat-raised-button>
              <mat-icon>input</mat-icon>
              Home
          </a>

      </div>
  </div>
  <div class="row">



      <div class="col-xs-6 center-xs">
          <div class="row center-xs">
              <img [src]="displayImgProfileStd" alt="Profile img not found" class="m-bottom">

          </div>

          <div class="row col-xs-12 center-xs m-bottom" *ngIf="!isCreatingNewStudent">
              <input hidden type="file" #uploadImgRef (change)="uploadstdImg($event)">

              <button mat-raised-button color="primary" (click)="uploadImgRef.click()">
                  <mat-icon>backup</mat-icon>

              </button>
          </div>

          <form #studentDetailsForm="ngForm">
              <div class="row">
                  <div class="col-xs-6">
                      <mat-form-field appearance="outline">
                          <mat-label>First Name</mat-label>
                          <input matInput [(ngModel)]="student.firstName" name="firstName" required>
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          <!-- Client Side -->
                          <mat-error>Required</mat-error>
                          <!-- Server Side -->

                      </mat-form-field>
                  </div>
                  <div class="col-xs-6">
                      <mat-form-field appearance="outline">
                          <mat-label>Last Name</mat-label>
                          <input matInput [(ngModel)]="student.lastName" name="lastName" required>
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          <mat-error>Required</mat-error>
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input matInput [(ngModel)]="student.email" name="email" required>
                          <mat-error>Required</mat-error>
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <mat-form-field appearance="outline">
                          <mat-label>Number</mat-label>
                          <input type="number" matInput [(ngModel)]="student.mobile" name="mobile" required>
                          <mat-error>Required</mat-error>
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <mat-form-field appearance="outline">
                          <mat-label>Physical Address</mat-label>
                          <textarea matInput [(ngModel)]="student.address.physicalAddress" name="physicalAddress"
                              required></textarea>
                          <mat-error>Required</mat-error>
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <mat-form-field appearance="outline">
                          <mat-label>Pill Address</mat-label>
                          <textarea matInput [(ngModel)]="student.address.postalAddress" name="postalAddress"
                              required></textarea>
                          <mat-error>Required</mat-error>
                      </mat-form-field>
                  </div>

              </div>


              <div class="row">

                  <div class="col-xs-6">
                      <mat-form-field appearance="outline">
                          <mat-label>Date Of Birth</mat-label>
                          <input matInput [(ngModel)]="student.dateOfBirth" name="dateOfBirth"
                              [matDatepicker]="picker" placeholder="Birth Of Date" required>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error>Required</mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-xs-6">
                      <mat-form-field appearance="outline">
                          <!-- <input matInput [(ngModel)]="student.gender.description" name="gender"> -->
                          <mat-label>Gender</mat-label>
                          <mat-select [(ngModel)]="student.genderId" name="gender" required>
                              <mat-option *ngFor="let gender of gendersList" [value]="gender.id">
                                  {{gender.description}}
                              </mat-option>
                          </mat-select>
                          <mat-error>Required</mat-error>
                      </mat-form-field>
                  </div>

              </div>

              <div class="row" *ngIf="!isCreatingNewStudent">
                  <div class="col-xs-6 end-xs  ">
                      <button mat-raised-button color="warn" class="hover-class" (click)="DeleteStudent()">Delete
                          <mat-icon>delete_forever</mat-icon>

                      </button>
                  </div>
                  <div class="col-xs-6  ">
                      <button mat-raised-button color="primary" class="hover-class" (click)="UpdateStudent()">Save
                          <mat-icon>save</mat-icon>
                      </button>
                  </div>
              </div>
              <div class="row" *ngIf="isCreatingNewStudent">
                  <div class="col-xs-12 center-xs ">
                      <button mat-raised-button color="primary" class="hover-class" (click)="AddNewStudent()">Save
                          <mat-icon>save</mat-icon>
                      </button>
                  </div>
              </div>
          </form>
      </div>


  </div>

</div>
