.page-header {
  background-color: rgb(218, 210, 236);
  height: 5%;
  margin: auto;
}

.m-top {
  margin-top: 1em;
}

.m-bottom {
  margin-bottom: 1em;
}

.mat-form-field {
  width: 100%;
}

.hover-class:hover {
  background-color: red;
}

.mat-raised-button {
  width: 100px !important;
}

img {
  width: 25%;
  border-radius: 100px;
}
